.content{
    display : flex;
    align-items: center;
    justify-content: center;
    background-image:url(assets/bg.jpg);
    height: 50vh;
}
img{
    height : 38px;
}
.logo{
    
    position: relative;
    top:160px
}
.text
{
    position: relative;
    top:160px;
   
}
h3{
     font-size: 47px; 
     color:rgb(121, 96, 58)
}